*{
	padding: 0px;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: sans-serif;
}

html{
	scroll-behavior: smooth;
}

#container{
	background-image: url("../img/fondo.jpg");
	background-size: cover;
	height: 100vh;
	display: grid;
	position: relative;
}

.filtro{
	height: 100vh;
	width: 100%;
	backdrop-filter: blur(10px);
}

.bienvenido{
	width: 80%;
	height: auto;
	min-height: 400px;
	background-color: #10ADA6;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form{
	width: 31.5%;
	height: 325px;
	background-color: #1BDED5;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 37.5px;
	box-shadow: 5px 10px 10px black;
}

.form input{
	margin-bottom: 20px;
	width: 80%;
	height: 35px;
	font-size: 16px;
	border: none;
}

.form{
	font-size: 18px;
}

.form p{
	margin-top: 60px;
	margin-left: 50px;
}

.form button{
	color: rgb(0, 0, 0, 0.8);
	margin-bottom: 10px;
	width: 80%;
	height: 50px;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.form button:hover{
	background-color: darkcyan;
	color: white;
}

.container-bienvenido{
	width: 65%;
	height: 400px;
	float: right;
	text-align: center;
	color: white;
}

.tabla{
	height: auto;
	min-height: 0.5px;
	width: 6%;
	margin-top: 10px;
	font-size: 18px;
}

.preguntas{
	width: 60%;
	height: auto;
	min-height: 70px;
	border-bottom: solid 1px white;
	border-top: solid 1px white;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container-bienvenido p{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	margin-top: 100px;
}

.preguntas p{
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: yellow;
}

.ojo{
	width: 25px;
	float: right;
	transform: translate(-65px, 5px);
	cursor: pointer;
}